// --------------------------
// VARIABLES
// --------------------------
$maincolor: rgb(241, 157, 0);
$contrastcolor: rgb(226, 208, 51);

@mixin orange-text-yellow-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}



nav {
    @include orange-text-yellow-bg;
    background-color: $contrastcolor;
    display: flex;
    justify-content: flex-start;

    a {
        @include orange-text-yellow-bg;

        div{
            margin: 10px;
            font-size: large;
        }
    }
}

$imagesize: 300px;
$cardpadding: 15px;

img{
    width: $imagesize;
    height: $imagesize;
    border-radius: 90px;
    object-fit: cover;
}

div {
    color: $maincolor;
}

.container{
    color: $maincolor;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc($imagesize + $cardpadding), max-content));
    grid-gap: 16px;
    justify-content: center;
    .card{
        border: 4px orange solid;
        border-radius: 5px;
        padding: $cardpadding
    }
}


@mixin orange-text-yellow-bg{
    color: $maincolor;
    background-color: $contrastcolor;
}

section,
div{
    form{
        input{
            @include orange-text-yellow-bg();
            padding: 10px;
            font-size: 1.1em;
            margin: 10px;


            &[type="submit"]:hover{
                @include orange-text-yellow-bg()
            }
        }
    }
}